/* -----------------------------
   Global Styles
------------------------------ */

body {
    background-color: #f5f7fb;
    font-family: "Segoe UI", sans-serif;
}

/* Hide Streamlit Menu & Footer */

#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

header {
    visibility: hidden;
}

/* Title */

.main-title {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #0E76A8;
    margin-bottom: 5px;
}

.sub-title {
    text-align: center;
    color: gray;
    font-size: 18px;
    margin-bottom: 25px;
}

/* Cards */

.metric-card {
    background: white;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.12);
    text-align: center;
}

/* Sidebar */

section[data-testid="stSidebar"] {
    background: #0E76A8;
}

section[data-testid="stSidebar"] * {
    color: white !important;
}

/* Buttons */

.stButton>button {

    width:100%;

    height:55px;

    border-radius:10px;

    font-size:18px;

    font-weight:bold;

    background:#0E76A8;

    color:white;

    border:none;

}

.stButton>button:hover{

    background:#085A80;

}

/* Input Boxes */

div[data-baseweb="select"] {

    border-radius:10px;

}

input {

    border-radius:10px !important;

}

/* Success */

.stSuccess {

    border-radius:12px;

}

/* Error */

.stError{

    border-radius:12px;

}

/* Footer */

.footer{

    text-align:center;

    margin-top:40px;

    color:gray;

}
/* ==========================
   Glass Cards
========================== */

div[data-testid="stMetric"]{

background:rgba(255,255,255,.18);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.25);

border-radius:18px;

padding:20px;

box-shadow:0 8px 32px rgba(31,38,135,.20);

transition:.3s;

}

div[data-testid="stMetric"]:hover{

transform:translateY(-8px);

box-shadow:0 20px 40px rgba(0,0,0,.25);

}

.stButton>button{
    width:100%;
    height:60px;
    border-radius:15px;
    font-size:22px;
    font-weight:bold;
    background:linear-gradient(90deg,#2563EB,#1E40AF);
    color:white;
    border:none;
}

.stButton>button:hover{

transform:scale(1.03);

}